/* Import Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css");

@font-face {
    font-family: 'Xarrovv';
    src: url('../../fonts/Xarrovv.woff2') format('woff2'),
         url('../../fonts/Xarrovv.woff2') format('truetype'),
         url('../../fonts/Xarrovv.woff2') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}
/* General Body Styling */

body {
    background-color: #D2A544;
    color: #F6F3E6;
    font-family: 'Xarrovv', sans-serif;
    font-size: 20px;
    line-height: 1.6;
	height: 100%;
}


/* Background Video */
.video-container {
    position: fixed;


    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container img {
   
   max-width: 100%;
}


.custom-col {
    text-align:start;
    vertical-align: top;
    padding-top: 2.5vh;
}
h6{
    font-size: 0.7em !important;
    white-space: nowrap;
}


@media only screen and (min-device-width: 300px) and (max-device-width: 750px) {
    .video-container img {
   
        height: 100vh;
        overflow: hidden;
        object-fit: cover;
     }


    h1 {
        font-size: 10vw !important;
        white-space: nowrap;
    }

    #palacio, #capela{
        width: 25vh;
    }

    .with-line::after {
        content: "";
        display: block;
        width: 99%;
        height: 1px;
        background-color: rgb(121, 132, 96, 0.3);
        position: absolute;
        bottom: 20%;
        left: 0%;
      }

      .heading-responsive {
        font-size: 16px;
      }

      .custom-col-right-poem, .custom-col-left-poem{
        text-align: left;
      }
      .custom-col-left-poem p, .custom-col-right-poem p{
        padding-bottom: 1vh;
      }

      h6{
        font-size: 0.7em !important;
        white-space: nowrap;
    }

    .ppalacio {
        padding-top: 4vh;
        padding-bottom: 3.5vh;
    }



    .convite{
        padding-left: 2.5vh;
        padding-right: 2.5vh;
    }
}




/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1365px) {

    .video-container img {
   
        height: 100vh;
        overflow: hidden;
        object-fit:cover;
     }

    h1 {
        font-size: 5vw !important;
        white-space: nowrap;
    }
    #palacio, #capela{
        width: 25vh;
    }

    .with-line::after {
        content: "";
        display: block;
        width: 33%;
        height: 1px;
        background-color: rgb(121, 132, 96, 0.3);
        position: absolute;
        bottom: 20%;
        left: 33%;
      }
      .heading-responsive {
        font-size: 18px;
      }
      .custom-col-left, .custom-col-left-poem {

        padding-left: 5vh;
        padding-right: 0vh;
    }

    .custom-col-right, .custom-col-right-poem {

        padding-left: 0vh;
        padding-right: 5vh;
    }

    h6{
        font-size: 1em !important;
        white-space: nowrap;
    }
}

/* Laptops */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1920px) {

    h1 {
        font-size: 5vw !important;
        white-space: nowrap;
    }
    #palacio, #capela{
        width: 25vh;
    }
    .with-line::after {
        content: "";
        display:none;
        
      }
      .heading-responsive {
        font-size: 18px;
      }
      .custom-col-left, .custom-col-left-poem {
        padding-left: 35vh;
        padding-right: 0vh;
    }

    .custom-col-right, .custom-col-right-poem {
        padding-left: 0vh;
        padding-right: 35vh;
    }

}

/* Large screens (21-27 inches) */
@media only screen and (min-device-width: 1920px) {

    #palacio, #capela{
        width: 25vh;
    }
    .with-line::after {
        content: "";
        display: none;

      }
      .heading-responsive {
        font-size: 18px;
      }
      .custom-col-left, .custom-col-left-poem  {
        padding-left: 35vh;
        padding-right: 0vh;
    }

    .custom-col-right, .custom-col-right-poem{
        padding-left: 0vh;
        padding-right: 35vh;
    }
}


/* Page Wrapper (to center the content) */
#page-wrapper {
    height: 100vh;  /* Ensure it takes the full viewport height */
    width: 100%;
    display: flex;
    flex-direction: column;  /* Stack the content vertically */
    justify-content: center;  /* Vertically center the content */
    align-items: center;  /* Horizontally center the content */
    text-align: center;  /* Center the text */
    z-index: 1;  /* Ensure it's above the background */
}

/* Styling for the container inside page-wrapper */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#one, #four {
	background-color: #818D5D;
	color: white;
    justify-content: space-around;
}

#two, #three {
	background-color: #ffff;
	color: #798460;
    min-height: 20vh;
    justify-content: center;  /* Vertically center the content */
    align-items: center;  /* Horizontally center the content */
}

/* #798460  #f6edd9*/

/* Bootstrap Grid System (Remove Custom Grid Classes) */
.container-fluid {
    padding: 2rem;
}

/* Typography */
h1 {
    font-size: 10vw; /* Responsive font size using viewport width units */
    white-space: nowrap;
}

h2 {
    font-weight: bold;
}

h3, h4, h5, h6 {

    text-transform: uppercase;
    letter-spacing: 0.1em;
}




#aqui{
    color: white !important;
    
}



/* Buttons */
.btn.btn-outline-secondary {
    border-color: white !important;
    color: white !important;
    padding: 0.75rem;
    margin: 1rem;
    border-radius: 5px;
}

.btn.btn-outline-secondary:hover {
    background-color: white !important;
    color: #3A5743 !important;
    border-color: white !important;
}

#clickable {
    background-color: #3A5743 !important;
    color: white !important;
    border-color: white !important;
}

#clickable:hover {
    background-color: white !important;
    color: #3A5743 !important;
    border-color: #3A5743 !important;
}


/* Forms */
.form-control {
    background-color: #F6F3E6;
    color: #798460;
}

#myForm, #ModalLabel, #myModal {
    color: #3A5743;
}

.carousel-inner {
    padding: 1em;
    display: flex;

  }

.carousel-item {
    justify-content: center;
    align-items: center;

}
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    justify-content: center;
    align-items: center;
  }
  
  
    .carousel-item {
      margin: 0;
      flex: 0 0 15%;
      display: block;
      justify-content: center;
      align-items: center;
    }

  
  .card .img-wrapper {
      
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50%;
  }

  .card .card-body {
    justify-content: center;
    align-items: center;
    text-align: center;

  }

 

.carousel-control-prev, .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

#footer {
	
    padding: 2.5vh;
}